:root {
  --color-primary-dark-cyan: hsl(158, 36%, 37%);
  --color-primary-cream: hsl(30, 38%, 92%);
  --color-neutral-extra-dark-blue: hsl(212, 21%, 14%);
  --color-neutral-dark-gray-blue: hsl(228, 12%, 48%);
  --font-family-body: 'Montserrat', sans-serif;
  --font-family-heading: 'Fraunces', 'Fraunces 72pt', serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font-family-body);
  font-weight: 500;
  background-color: var(--color-primary-cream);
  color: var(--color-neutral-dark-gray-blue);
  padding: 1.1rem 0.5rem;
  overflow: hidden;
}

button {
  font: inherit;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.01em;
  border: none;
  border-radius: 8px;
  background-color: var(--color-primary-dark-cyan);
  color: white;
  padding: 1.2em;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-neutral-extra-dark-blue);
}

.product-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  max-width: 38rem;
}

.product-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-body {
  flex: 2;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.product-category {
  text-transform: uppercase;
  letter-spacing: 0.35em;
  font-size: 0.775em;
}

.product-heading,
.product-price-discount {
  font-family: var(--font-family-heading);
  font-weight: 700;
}

.product-heading {
  font-size: 2em;
  color: var(--color-neutral-extra-dark-blue);
  margin: 0;
  line-height: 1;
}

.product-description {
  font-size: 0.875rem;
  line-height: 1.6;
  
}

.product-description:first-of-type {
  margin-top: 0;
}

.product-description:last-of-type {
  margin-bottom: 0;
}

.product-prices {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-price-discount {
  margin: 0;
  font-size: 2em;
  color: var(--color-primary-dark-cyan)
}

.product-price-original {
  margin: 0;
  font-size: 0.85em;
}

.button-add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}

.sr-only {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (min-width: 576px) {
  .product-card {
    flex-direction: row;
  }
  .product-picture {
    flex-basis: 50%;
  }
  .product-body {
    flex: 1;
    margin: 2rem;
    gap: 1.3rem;
  }
}